@media (max-width:992px){
.centeritems{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menutitleimg{
    height: 40vh;
}
.carousel-control-prev{
    height: 40px;
    margin-top: 20px;
}
.carousel-control-next{
    height: 40px;
    margin-top: 20px;
}
.nomargin{
    margin-top: 0 !important;
}
}

.scrollingoff{
    position: absolute;
}

body{
    background-color: #f8f9fa;
}