body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu{
  margin: 10px 0;
  position: sticky;
  z-index: 1000;
}

.btnicon{
  margin: 0 5px;
}

.menuitems{
  margin: auto;
  font-size: 18px;
  font-weight: 400;
}

.menuitems a{
  color: black;
  display: contents;
}

.menuitems button{
  margin: auto 5px;
}

.menuimg{
  margin: auto;
  width: 100px;
  height: 60px;
}

.homebtn{
  width: 100%;
  margin: 40px auto;
}

.homebtn a{
  color: white !important;
}

.disablebtn a{
  color: white !important;
}

.homefoodimg{
  width: 150px;
  height: 150px;
  border-radius: 50px;
  margin: 50px auto;
}

.homecards{
  padding: 30px 10px 50px;
}

.br{
  border-right: 1px solid rgb(189, 189, 189);
}

.bs{
  box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
}


.blockimg{
  width: 100%;
  height: 400px;
}

.textonimg {
  margin: 0 0 40px;
  position: relative;
  text-align: center;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.7);
  width: 98%;
  height: 400px;
  padding-top: 50px;
}

.desctextresponsive{
  color: white;
  padding: 10px;
}

.homebtnsm{
  width: auto;
  margin: 10px auto;
}

.homebtnsm a{
  color: white !important;
}

.boldtext{
  font-weight: bold;
}

.bigtext{
  font-size: 52px;
}

.goldclr{
  color: rgb(255, 166, 0);
}

.form-control{
  margin: 10px 0;
}

.footer{
  background-color: rgb(63, 63, 63);
  color: white;
  padding: 40px 0 0;
}

.footerimg{
  width: 240px;
  height: 40px;
}

.footer a{
  color: white;
  display: contents;
  font-size: large;
}

.footer button{
  width: 100%;
}

@media
(max-width: 992px)
{
  .menu{
    display: flex !important;
    flex-direction: row;
  }
  .menuitems{
    width: 33.33%;
  }
  .disablebtn{
    display: none;
  }
  .menuitems button{
    margin: 0;
    font-size: small;
  }
  .menuitems a{
    margin: 0;
    font-size: small;
  }
  iframe{
    width: 100%;
    height: auto;
  }
  .signinimg{
    display: none;
  }

  .productrow{
    display: block !important;
    margin-top: 20px;
    justify-content: center !important;
  }
  .productcard{
    width: 80% !important;
    text-align: center;
  }
  .blockimg{
    height: 250px;
  }
  .centered{
    height: 250px;
    padding: 0 10px;
    width: 94%;
  }

  .centered h4{
    font-size: 12px;
    font-weight: 400;
    padding: 0;
  }

  .centered h1{
    font-size: 18px;
    font-weight: 600;
    padding: 0;
  }

  .whyus{
    font-size: 12px !important;
    padding: 0 10px !important;

  }
  .sidebar{
    display: none;
  }
  body{
    overflow-x: hidden !important;
  }
  .usercartbtn{
    width: 40% !important;
  }
  .responsiveness{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .menutitleimg{
    height: 180px !important;
  }
}


.carouselcont {
  position: relative;
  text-align: start;
  color: white;
  width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 180px;
  left: 100px;
}

.indicatorbtn{
  border-radius: 50% !important;
  height: 10px !important;
  width: 10px !important;
  border: 2px solid brown !important;
  background-color: white !important;
  margin: 10px !important;
}

.indicatorbtn:active{
  border: 2px solid white !important;
  background-color: brown !important;
}

.indicatorcont{
  margin-left: 0 !important;
  position: absolute !important;
  left: 10px !important;
  bottom: 10px !important;
}

.signinimg{
  width: 100%;
  height: 810px;
}

.registerimg{
  width: 100%;
  height: 1150px;
}

.signinbtn{
  margin: 20px 40px;
  width: 90%;
  border: 1px solid blue;
}

.registerbtn{
  margin: 0 40px 40px;
  width: 90%;
  border: 1px solid blue;
}

.signinbtn:hover , .registerbtn:hover{
  background-color: blue;
  color: white;
}

a{
  display: contents;
}

.menutitleimg{
  width: 100%;
  height: 400px;
  margin: none;
}

.productrow{
  display: flex !important;
  flex-direction: row;
  /* padding-top: 120px; */
}

.productcard{
  border: 1px solid grey;
  margin: 22px;
  padding: 20px 10px;
  width: 30%;
  cursor: pointer;
}

.productimg{
  width: 120px;
  height: 120px;
}


.nav-pills{
  overflow-x: auto;
  overflow-y: hidden;
  background-color: black;
  color: white;
  height: 85px;
  position: sticky !important;
  z-index: 0 !important;
}

.nav-pills a{
  color: white;
}

.nav-pills a:hover{
  background-color: blue;
  color: white;
}

.nav-item {
  /* cursor: pointer; */
  margin: 15px 10px;
  /* width: 200px;
  height: 70px; */
}

.nav-link {
  font-size: 16px;
  text-align: center;
}


.cart-cont{
  background-color:bisque;
  color:chocolate;
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.cart-card{
  background-color:bisque;
  color:chocolate;
  text-align: left;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.cart-card button{
  border: 1px solid black;
  margin: 5px;
}

.whyus{
  padding: 0 80px;
}

.mainnavbar{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dropdown-item{
    margin: 5px 0 !important;
    padding: 5px !important;
}

.dropdown p:hover{
  background-color: white;
}

.dropdown{
  display: inline-flex !important;
}

.sidebar{
 background-color: white;
 color: black;
 font-weight: bold;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.sidebartag{
 background-color: white;
 color: black;
 display: block !important;
 padding: 10px !important;
}

.profileinfo{
  height: 350px;
}

.userprofileinfo{
  display: inline-flex;
  align-items: center;
}

.usercartbtn{
  margin-left: auto;
  font-weight: 500;
  font-size: large;
  width: 25%;
}

.addressaction{
  position: inline;
}

.filterbtn{
  width: 100% !important;
}

.filtermenu{
  width: 100%;
  padding: 20px 40px;
}

.br{
  border-radius: 20px;
}

.ordertype{
  display: inline-flex !important;
  margin: 0 20px 0 0;
}

.ordertype label{
  margin: 0 5px;
}

.timelist{
  width: 100%;
}

.time{
  font-size: small;
  height: 25px;
}

.backbutton{
  margin: 0 auto;
}

.userdditem{
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px !important;
}

.userddmenu{
  width: 300px;
}

.shoppingcart{
  z-index: 2000;
}